{
  "broker": "tcp://mqtt.XXXXXXXX.com:2883",
  "topic": "msh/US/#",
  "clientID": "golang_mqtt_client",
  "username": "XXXXXXX",
  "password": "XXXXXXX",
  "b64Key": [
	  {"Baruch":"XXXXXXXXXXXXXXXXXXXXXX=="},
	  {"Telemetry":"XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX="},
	  {"LongFast":"1PG7OiApB1nwvP+rz05pAQ=="}
  ]
}

